/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.blok {
  padding: 20px;
}

.horni { background-color:#f1c40f ;}
.prvni { background-color: #2ecc71;}
.druhy { background-color: #e74c3c;}
.treti { background-color: #8e44ad;}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

@media screen and (min-width: 650px) {
	.kontejner {
		display: flex;
		flex-wrap: wrap;
	}
	.horni {
		flex: 1 1 100%;
	}
	.prvni {
		flex: 1 1 50%;
	}
	.druhy {
		flex: 1 1 50%;
	}
	.treti {
		flex: 1 1 100%;
	}
}

@media screen and (min-width: 1000px) {
	.prvni {
		flex: 1 1 calc(100% / 3);
	}
	.druhy {
		flex: 1 1 calc(100% / 3);
	}
	.treti {
		flex: 1 1 calc(100% / 3);
	}
}